language: python

matrix:
  include:
    - sudo: required
      services: docker
      env: RELEASE=trusty
    - sudo: required
      env: RELEASE=precise

env:
  global:
  - VERSION='2.7.10'
  - ALIAS=$VERSION

install:
- pushd /opt/pyenv/
- sudo git checkout master
- sudo git pull
- popd

before_script:
- 'export INSTALL_DEST=${INSTALL_DEST:-/opt/python}'
- 'export LSB_RELEASE=${LSB_RELEASE:-$(lsb_release -rs || echo ${$(sw_vers -productVersion)%*.*})}'
- 'export OS_NAME=${OS_NAME:-$(lsb_release -is | tr "A-Z" "a-z" || echo "osx")}'
- 'export ARCH=${ARCH:-$(uname -m)}'
- 'export PACKAGES=${PACKAGES:-pip numpy nose pytest mock wheel scipy}'
- export PYTHON_COFIGURE_OPTS="$CONFIGURE_OPTS --enable-unicode=ucs4"
- sudo apt-get update -qq
- sudo apt-get install -y liblapack-dev

script: ./bin/compile

# after_success: ./bin/archive

after_failure: cat /tmp/python-build.*.log

# addons:
#   artifacts:
#     paths:
#     - $LSB_RELEASE/
#     target_paths:
#     - /binaries/$OS_NAME/$LSB_RELEASE/$ARCH
